.CreateEmployee .title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #022334;
    margin: 0;
}


.CreateEmployee .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.CreateEmployee{
    background:white;
    width: 500px;
    border-radius: 15px;
    margin: auto;
    padding: 15px;
    margin-top: 35px;
}
.CreateEmployee h2{
    text-align: center;
}

.CreateEmployee label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 700;
    color: #022334;
}
.CreateEmployee input{
    border-radius: 15px;
    height: 30px;
    width: 449px;
    border-color: #94d1ec;
}
.CreateEmployee input:focus {
    background-color: #94d1ec;
    transform: scale(1.1);
  }

.address {
    margin-top: 10px;
    font-size: x-large;
    font-weight: bolder;
    color: #022334;
}
button{
    height: 36px;
    width: 184px;
    background: #022334;
    border-radius: 14px;
    color: white;
}
.wrapper{
    text-align: center;
    margin-top: 30px;
}
select{
    border-radius: 15px;
    height: 30px;
    width: 156px;
    border-width: 2px;
    border-color: #94d1ec;
}